<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="brand-footer">
                    <a href="/" title="The Jack Brunton Trust" rel="home">
                        <img src="assets/img/Jack-Brunton-Logo.png" alt="Jack Brunton Trust" title="Jack Brunton Trust">
                    </a>
                </div>
            </div>
            <div class="col-8">
                <p>10 Bridge Road, Stokesley, North Yorkshire TS9 5AA</p>
                <p class="copyright">&#169; <script>document.write(new Date().getFullYear())</script> The Jack Brunton Charitable Trust<br />Charity registration number 518407</p>
                <ul>
                    <li><a href="/privacy.html" target="_blank">Privacy policy</a>  |</li>
                    <li><a href="/cookie.html" target="_blank">  Cookie policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
